

:root {

    /* Primary Color */
    --cl-1: #1C3B6B;
    --cl-2: #2273BC;

    /* Theme Color */
    --tc-1: #E8D8B6;
    --tc-2: #DDDEE3;
    --tc-3: #ABADB9;
    --tc-4: #787B8E;
    --tc-5: #4D4F5C;
    --tc-6: #23242A;
    --tc-7: #1B1C21;
    --tc-8: #141418;
    --tc-9: #0C0D0F;
    --tc-10: #050506;
    --tc-11: #000000;
    --tc-gradient-1: linear-gradient(0deg, var(--tc-6) 0%, var(--tc-7) 100%);
    --tc-gradient-1-r: linear-gradient(0deg, var(--tc-7) 0%, var(--tc-6) 100%);
}



html, body{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "indivisible", sans-serif;;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--tc-1);
}

.my-vertical-swiper { 
    width: 100%; 
    height: 100vh; 
    background: transparent; 
}
.my-vertical-swiper .swiper-slide { 
    height: 100vh; 
    overflow: hidden; 
}

a{
    text-decoration: none;
    color: inherit;
}

.coming-soon-1{
    font-family: 'Karantina';
    font-size: 200px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
    color: var(--cl-1);
}


.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: 1; */
    opacity: .5;
}


.hidden {
  display: none !important;
}



/* Navbar Start */
.navbar{
    position: fixed;
    left: 40px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--cl-2);
    z-index: 10;
}
.navbar .logo{
    font-size: 64px;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--cl-2);
    color:transparent;

}
/* Navbar End */





/* Above The Fold Start */
.above-the-fold{
    width: 100%;
    height: 100vh;
    position: relative;
}
.above-the-fold .pattern-container{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.above-the-fold .about{
    position: absolute;
    right: 40px;
    top: 50%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}
.above-the-fold .about .title{
    font-size: 24px;
    color: var(--cl-2);
    margin-bottom: 20px;
}
.above-the-fold .about i{
    font-size: 64px;
    color: var(--cl-2);
    transition: .3s;
    transform: translate(0, 0);
}
.above-the-fold .about:hover i{
    transform: translate(-6px, 6px);
}
/* Above The Fold End */





/* Projects Section Start */
.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center;     /* centers horizontally */
    height: 100vh;           /* full viewport height */
    width: 100%;
    overflow: hidden;        /* keeps the scrolling bars contained */
}

.section-two .row-1{
    margin-top: 200px;
}
.section-two .row-1,
.section-two .row-2 {
    width: 100%;
}
/* Projects Section End */





/* Footer Section Start */
.section-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
}
.map{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.locations{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    color: var(--cl-2);
}
.socials{
    color: var(--cl-2);
    display: flex;
    justify-content: space-between;
}
.socials .set-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials .set-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.footer-btn{
    color: var(--cl-2);
    position: relative;
}
.footer-logo{
    position: absolute;
    left: 0;
}
.pages{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 40px;
    display: flex;
    justify-content: space-between;
}
.archive{
    position: absolute;
    right: 0;
}
/* Footer Section End */





/* Modal Start */
.project-modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--tc-1);
    z-index: 200;
}
.project-modal .stripes-row-1,
.project-modal .stripes-row-2{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--cl-2);
}
.project-modal .stripes-row-1{
    top: 0;
}
.project-modal .stripes-row-2{
    bottom: 0;
}
.project-modal .project-details{
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.project-modal .project-images-row {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.project-modal .project-swiper {
  width: 100%;
  height: 320px; /* tweak */
}

.project-modal .project-swiper .swiper-slide {
  width: 420px; /* or 'auto' with slidesPerView:'auto' */
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.project-modal .project-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Modal End */





/* Tablet */
@media (min-width: 640px) {
    .text-set-1{
        font-size: 220px;
    }
    .text-set-1.up {
        transform: translateY(40%);
    }
    .text-set-1.big {
        font-size: 450px;
    }
    .text-set-1.inter {
        font-size: 200px;
    }
    .text-set-1.charm {
        font-size: 240px;
    }
    .text-set-1.barrio {
        font-size: 240px;
    }



    .text-set-2 div{
        font-size: 330px;
        line-height: 250px;
    }



    .text-set-3{
        font-size: 120px;
    }
    .text-set-3.pos3{
        right: -20px;
    }
    .text-set-3.pos4{
        top: -70px;
    }



    .text-set-4{
        font-size: 200px;
        letter-spacing: 6px;
        word-spacing: 50px;
    }



    .text-set-5{
        font-size: 80px;
    }
    .text-set-5 .wrapper-1{
        top: -40px;
        right: -20px; 
    }
    .text-set-5 .wrapper-2{
        bottom: -40px;
        left: -20px;
    }



    .text-set-6 div{
        font-size: 330px;
        line-height: 250px;
    }


    .links-wrapper{
        flex-direction: row;
    }
    .close-btn{
        order: 2;
    }
}
